* {
    box-sizing: border-box;
  }

  .block{
      height: 30px;
      width: 10px;
      background: red;
      position: absolute;
      top: 98px;
      left: 40px;
  }

  .Main{
      font-size: 250%;
      position: relative;
      top: 50px;
      left: 50px;
      

  }

 